In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [2]:
os.chdir('C:\\Users\\ASUS\\Desktop\\python case studies\\11. Capstone Case Study - Predict Cred Card Consumption')

In [3]:
df = pd.read_csv('test_file.csv')

In [4]:
df.head(3)

,ID,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,dc_cons_jun,cc_count_apr,cc_count_may,cc_count_jun,...,account_type,gender,age,Income,Emp_Tenure_Years,Tenure_with_Bank,region_code,NetBanking_Flag,Avg_days_between_transaction,cc_cons
0,17591,2795.45,1290.0,6141.05,676.50,9146.1,15479.00,4.0,10,4,...,current,M,37,MEDIUM,11.9,4,4,575,1,NaN
1,13541,29405.13,1640.0,1670.00,2463.92,10947.5,956.00,3.0,10,4,...,current,M,33,MEDIUM,7.8,6,6,394,0,NaN
2,13431,5985.20,6189.0,2696.09,766.00,716.0,4133.22,7.0,30,5,...,current,M,53,LOW,33.0,10,10,324,1,NaN

In [5]:
df.drop(columns='cc_cons',inplace=True)

## Handling Null Values

In [6]:
for col in df.columns:
    print(col,':',df[col].isnull().sum())

ID : 0
cc_cons_apr : 0
dc_cons_apr : 0
cc_cons_may : 0
dc_cons_may : 0
cc_cons_jun : 0
dc_cons_jun : 0
cc_count_apr : 0
cc_count_may : 0
cc_count_jun : 0
dc_count_apr : 0
dc_count_may : 0
dc_count_jun : 0
card_lim : 0
personal_loan_active : 0
vehicle_loan_active : 0
personal_loan_closed : 0
vehicle_loan_closed : 0
investment_1 : 0
investment_2 : 0
investment_3 : 0
investment_4 : 0
debit_amount_apr : 0
credit_amount_apr : 0
debit_count_apr : 0
credit_count_apr : 0
max_credit_amount_apr : 0
debit_amount_may : 0
credit_amount_may : 0
credit_count_may : 0
debit_count_may : 0
max_credit_amount_may : 0
debit_amount_jun : 0
credit_amount_jun : 0
credit_count_jun : 0
debit_count_jun : 0
max_credit_amount_jun : 0
loan_enq : 0
emi_active : 0
account_type : 0
gender : 0
age : 0
Income : 0
Emp_Tenure_Years : 0
Tenure_with_Bank : 0
region_code : 0
NetBanking_Flag : 0
Avg_days_between_transaction : 0

## Converting categorical data to numerical data

In [7]:
mapping_df = pd.read_csv('mapping_dict_capstoneproject.csv')
mapping_dict = dict(mapping_df.values)

In [8]:
mapping_dict

{'Y': 0,
 'current': 0,
 'saving': 1,
 'F': 0,
 'M': 1,
 'HIGH': 0,
 'LOW': 1,
 'MEDIUM': 2}

In [9]:
df = df[(df['gender']!='0')&(df['Income']!='0')]

In [10]:
cat_col = ['loan_enq', 'account_type', 'gender', 'Income']
for col in cat_col:
    df[col] = df[col].apply(lambda x: mapping_dict[x])

In [11]:
df.head(3)

,ID,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,dc_cons_jun,cc_count_apr,cc_count_may,cc_count_jun,...,emi_active,account_type,gender,age,Income,Emp_Tenure_Years,Tenure_with_Bank,region_code,NetBanking_Flag,Avg_days_between_transaction
0,17591,2795.45,1290.0,6141.05,676.50,9146.1,15479.00,4.0,10,4,...,1170.49,0,1,37,2,11.9,4,4,575,1
1,13541,29405.13,1640.0,1670.00,2463.92,10947.5,956.00,3.0,10,4,...,16447.45,0,1,33,2,7.8,6,6,394,0
2,13431,5985.20,6189.0,2696.09,766.00,716.0,4133.22,7.0,30,5,...,2622.28,0,1,53,1,33.0,10,10,324,1

## Standardization

In [12]:
import pickle
with open('./standard_scaler.pkl','rb') as file:
    ss = pickle.load(file)

In [13]:
final_df = df['ID']
df.head()

,ID,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,dc_cons_jun,cc_count_apr,cc_count_may,cc_count_jun,...,emi_active,account_type,gender,age,Income,Emp_Tenure_Years,Tenure_with_Bank,region_code,NetBanking_Flag,Avg_days_between_transaction
0,17591,2795.45,1290.0,6141.05,676.50,9146.10,15479.00,4.0,10,4,...,1170.49,0,1,37,2,11.9,4,4,575,1
1,13541,29405.13,1640.0,1670.00,2463.92,10947.50,956.00,3.0,10,4,...,16447.45,0,1,33,2,7.8,6,6,394,0
2,13431,5985.20,6189.0,2696.09,766.00,716.00,4133.22,7.0,30,5,...,2622.28,0,1,53,1,33.0,10,10,324,1
3,8687,2105.93,18225.0,34763.56,167.00,4260.27,20185.00,1.0,99,71,...,340.79,0,1,33,2,7.8,5,5,370,1
4,14727,3269.00,3532.0,3158.40,2699.77,3373.48,5120.00,2.0,10,47,...,2812.20,0,1,62,1,12.6,9,9,505,1

In [14]:
x_ft = ss.fit_transform(df)
x_ft = pd.DataFrame(x_ft)
x_ft.head(3)

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,1.324026,-0.588771,-0.481453,-0.387078,-0.497806,-0.152539,0.616952,-0.383334,-0.452643,-0.838268,...,-0.103495,-0.436969,0.389124,-0.349406,0.700603,-0.162593,-0.504247,-0.504247,-0.116065,0.634184
1,0.626927,0.472290,-0.456372,-0.567600,-0.371161,-0.060867,-0.458650,-0.393430,-0.452643,-0.838268,...,0.016753,-0.436969,0.389124,-0.484847,0.700603,-0.357966,0.189179,0.189179,-0.937345,-1.576830
2,0.607993,-0.461580,-0.130393,-0.526171,-0.491464,-0.581545,-0.223339,-0.353048,-0.072364,-0.815754,...,-0.092068,-0.436969,0.389124,0.192358,-0.855738,0.842863,1.576032,1.576032,-1.254967,0.634184

## Predicting Final Data

In [15]:
with open('./best_model.pkl','rb') as file:
    lr = pickle.load(file)

In [16]:
lr

LinearRegression()

In [17]:
pred = lr.predict(x_ft)
pred_df = pd.DataFrame(pred,columns=['cc_cons'])
pred_df.head(3)

       cc_cons
0  2803.459465
1  6585.660398
2  2345.949640

In [18]:
submit_df = pd.concat([final_df,pred_df],axis=1)
submit_df.head(3)

        ID      cc_cons
0  17591.0  2803.459465
1  13541.0  6585.660398
2  13431.0  2345.949640

In [19]:
submit_df.to_csv('Final_submission.csv',index=False)